body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 253, 250);
}
nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: rgb(43, 42, 40);
}
nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:rgb(255, 255, 255);
}


#beehive {
    width:40vw;
    height: auto;
    object-fit: contain;
    transition: transform 0.5s;
}

#beehive:hover {
    transform: scale(1.1);
}
#bee img{
    width: 80px;
    height:auto;
    transform: scaleX(-1);
    position: absolute;
    left:5vw;
    top:0;
    animation-name: beefly;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes beefly{

    0% {
        translate: 13vw 13vw;
    }

    15% {
       translate: 30vw 0; 
    }

    25% {
        translate: 60vw 20vw;
    }

    50% {
        translate: 40vw 40vw;
    }

    75% {
        translate: 10vw 30vw;
    }

    100% {
        translate: 13vw 13vw;
    }
}
