@font-face {
    font-family: 'conthrax';
    src: url('../fonts/Conthrax-SemiBold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    }
    @font-face {
        font-family: 'unigeo64-regular';
        src: url('../fonts/TT\ Hoves\ Pro\ Trial\ Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        }
    
body {
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #111;
    color: white;
}

header {
    background: linear-gradient(90deg, #ff4500, #8a2be2, #00ced1);
    text-align: center;
    padding: 20px;
    position: relative;
}

header h1 {
    font-family: 'conthrax';

}

header {
    font-family: 'unigeo64-regular';
    letter-spacing: .5px;
}

main {
    margin: 40px 0px;
    box-sizing: border-box;
    font-family: 'unigeo64-regular';
    letter-spacing: 1px;
}

section {
    padding: 50px;
    margin-bottom: 40px;
    color: white;
}

.concert, .concert2, .concert3, .concert4, .concert5, .concert6, .concert7, .concert8, .concert9, .concert10 {
    background-color: #8a2be2;
    padding: 30px;
    border-radius: 10px;
    max-width: 1200px;
    margin-left: 82px;
    margin-right: 82px;
    font-family: 'unigeo64-regular';
    letter-spacing: 1px;
    position: relative;
}

.concert .concert-image, .concert2 .concert2-image, .concert3 .concert3-image, .concert4 .concert4-image, .concert5 .concert5-image, .concert6 .concert6-image, .concert7 .concert7-image, .concert8 .concert8-image, .concert9 .concert9-image, .concert10 .concert10-image {
position: absolute;
top: 340px;
left: 35%; 
transform: translateX(-50%); 
max-width: 100%;
max-height: 50%;
}

.concert-details {
    column-count: 2;
    column-gap: 30px;
    background-color: azure;
    padding: 20px;
    border-radius: 5px;
    color: #111;
}

.concert-columns {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    gap: 20px;
    align-items: start;
    background-color: azure;
    border-radius: 8px;
    color: black;
    padding-bottom: 40px;
    padding-left: 40px;
}

.left-column, .center-column, .right-column {
    padding: 10px;
}

.left-column p, .right-column p {
    margin: 5px 0;
}

.center-column ul {
    list-style-type: disc;
    padding-left: 20px;
    margin: 0;
}

.right-column {
    font-size: 20px;
}

.learn-more {
    grid-column: span 3;

}

.learn-more img {
    max-width: 100%;
    display: none; 
}

.learn-more[open] img {
    display: block;
}

.learn-more summary {
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.learn-more p {
    margin-top: 10px;
    margin-right: 20px;
    display: block;
    font-size: 15px;
}

@media (max-width: 768px) {
    .concert .concert-image, .concert2 .concert2-image, .concert3 .concert3-image, .concert4 .concert4-image, .concert5 .concert5-image, .concert6 .concert6-image, .concert7 .concert7-image, .concert8 .concert8-image, .concert9 .concert9-image, .concert10 .concert10-image {
        position: relative;
        width: 45vw; 
        left: 50%; 
        top: 25px; 
        padding-bottom: 15px;
    }
}

@media (max-width: 480px) {
    .concert .concert-image, .concert2 .concert2-image, .concert3 .concert3-image, .concert4 .concert4-image, .concert5 .concert5-image, .concert6 .concert6-image, .concert7 .concert7-image, .concert8 .concert8-image, .concert9 .concert9-image, .concert10 .concert10-image {
        position: absolute;        
        width: 80vw; 
        left: 2%; 
        top: 0px; 
    }
}

@media (max-width: 768px) {
.concert, .concert2, .concert3, .concert4, .concert5, .concert6, .concert7, .concert8, .concert9, .concert10 {
    position: relative;
}
}

@media (max-width: 480px) {
    .concert, .concert2, .concert3, .concert4, .concert5, .concert6, .concert7, .concert8, .concert9, .concert10 {
        position: relative;
    }
    }

nav {
    font-family: 'unigeo64-regular';
}

.sidebar {
    position: fixed;
    left: -350px;
    top: 0;
    width: 250px;
    height: 100%;
    background: #ffffff;
    padding: 20px;
    transition: left 0.3s ease-in-out;
    z-index: 2;
}

.sidebar h3 {
    color: rgb(0, 0, 0);
    text-align: left;
    margin-top: 80px;
    margin-left: 25px;
    font-size: 25px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    text-align: left;
    margin-left: 20px;
    font-size: 15px;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    padding: 10px;
}

.sidebar ul li a:hover {
    background: #9c5de4;
    color: white;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked ~ .sidebar {
    left: 0;
}

.menu-button {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    z-index: 3;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    z-index: 1;
}

#menu-toggle:checked ~ .overlay {
    opacity: 1;
    pointer-events: all;
}

#menu-toggle:checked ~ .menu-button {
    color: rgb(0, 0, 0);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .concert-details {
        column-count: 1;
    }

    .menu-button {
        font-size: 16px;
        padding: 8px 15px;
    }

    main {
        margin-top: 50px;
    }
}

@media (max-width: 768px) {
    header h1{
        margin-top: 50px;
        font-size: 25px;
    }

    header h2 {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .concert-columns {
        display: block; 
        padding: 20px; 
        padding-bottom: 40px;
    }
}

@media (min-width: 1500px) {
    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 60px;
        padding: 20px;
    }
}

footer {
    margin-left: 30px;
    font-family: 'unigeo64-regular';
}

.concert2-image {
    width: 50vw;
    max-width: 725px;
    position: absolute;
    left: 11.5%;
    top: 0px;
}

@media (max-width: 768px) {
    .concert2-image {
        width: 60vw; 
        left: 0%;
        top: -100px; 
        position: relative;
        padding-bottom: 15px;
    }
}

@media (max-width: 480px) {
    .concert2-image {
        width: 80vw; 
        left: 2%; 
        top: 0px; 
        position: relative;
    }
}

.concert3-image {
    width: 50vw;
    max-width: 725px;
    position: absolute;
    left: 11.5%;
    top: 1800px;
}

@media (max-width: 768px) {
    .concert3-image {
        width: 60vw; 
        left: 0%; 
        top: 20px; 
        position: relative;
        padding-bottom: 15px;
    }
}

@media (max-width: 480px) {
    .concert3-image {
        width: 80vw;
        left: 2%; 
        top: 0px; 
        position: relative;
    }
}

.concert4-image {
    width: 50vw;
    max-width: 725px;
    position: absolute;
    left: 11.5%;
    top: 930px;
}

@media (max-width: 768px) {
    .concert4-image {
        width: 60vw; 
        left: 0%;
        top: 20px; 
        position: relative;
        padding-bottom: 15px;
    }
}

@media (max-width: 480px) {
    .concert4-image {
        width: 80vw;
        left: 2%; 
        top: 0px; 
        position: relative;
    }
}
.concert5-image {
    width: 50vw;
    max-width: 725px;
    position: absolute;
    left: 11.5%;
    top: 930px;
}

@media (max-width: 768px) {
    .concert5-image {
        width: 60vw; 
        left: 0%; 
        top: 20px; 
        position: relative;
        padding-bottom: 15px;
    }
}

@media (max-width: 480px) {
    .concert5-image {
        width: 80vw; 
        left: 2%;
        top: 0px; 
        position: relative;
    }
}
.concert6-image {
    width: 50vw;
    max-width: 725px;
    position: absolute;
    left: 11.5%;
    top: 930px;
}

@media (max-width: 768px) {
    .concert6-image {
        width: 30vw; 
        left: 0%; 
        top: 20px; 
        position: relative;
        padding-bottom: 15px;
    }
}

@media (max-width: 480px) {
    .concert6-image {
        width: 80vw; 
        left: 2%; 
        top: 0px;
        position: relative;
    }
}
.concert7-image {
    width: 50vw;
    max-width: 725px;
    position: absolute;
    left: 11.5%;
    top: 930px;
}

@media (max-width: 768px) {
    .concert7-image {
        width: 60vw; 
        left: 0%; 
        top: 20px;
        position: relative;
        padding-bottom: 15px;
    }
}

@media (max-width: 480px) {
    .concert7-image {
        width: 80vw; 
        left: 2%; 
        top: 0px; 
        position: relative;
    }
}
.concert8-image {
    width: 50vw;
    max-width: 725px;
    position: absolute;
    left: 11.5%;
    top: 930px;
}

@media (max-width: 768px) {
    .concert8-image {
        width: 60vw; 
        left: 0%; 
        top: 20px; 
        position: relative;
        padding-bottom: 15px;
    }
}

@media (max-width: 480px) {
    .concert8-image {
        width: 80vw; 
        left: 2%; 
        top: 0px; 
        position: relative;
    }
}
.concert9-image {
    width: 50vw;
    max-width: 725px;
    position: absolute;
    left: 11.5%;
    top: 930px;
}

@media (max-width: 768px) {
    .concert9-image {
        width: 60vw; 
        left: 0%;
        top: 20px; 
        position: relative;
        padding-bottom: 15px;
    }
}

@media (max-width: 480px) {
    .concert9-image {
        width: 80vw; 
        left: 2%; 
        top: 0px; 
        position: relative;
    }
}
.concert10-image {
    width: 50vw;
    max-width: 725px;
    position: absolute;
    left: 11.5%;
    top: 930px;
}

@media (max-width: 768px) {
    .concert10-image {
        width: 60vw; 
        left: 0%;
        top: 20px;
        position: relative;
        padding-bottom: 15px;
    }
}

@media (max-width: 480px) {
    .concert10-image {
        width: 80vw;
        left: 2%;
        top: 0px; 
        position: relative;
    }
}

.details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

section:target .details {
    max-height: 500px; 
}